language: node_js
node_js:
  - 6.5
sudo: false
branches:
  only:
    - master
    - /^greenkeeper-.*$/
cache:
  directories:
    - node_modules
notifications:
  email:
    - markus.felten@gmx.de
before_install:
  - npm i -g npm@latest
before_script:
  - npm prune
after_success:
  - npm run semantic-release
