:root {
    --background-color: #000022;
    --text-color: #FFD896;
    --box-selection-color: #FFD896;
    --panel-fill: #0F1705;
    --panel-stroke: #99CC55;
    --socket-fill: transparent;
    --socket-stroke: #FF4800;
    --wire-stroke: #FFBF53;
}
