.WiredPanels {
    background-color: #001100;
    fill: #55DD55;
}

.WiredPanels .boxSelection {
    stroke: #55DD55;
    fill: #55DD55;
}

.WiredPanels .panel {
    stroke: #00AA00;
}

.WiredPanels .separator {
    fill: #00AA00;
}

.WiredPanels .socket {
    stroke: #006600;
    fill: #002200;
}

.WiredPanels .wire {
    stroke: #00FF00;
}
