:root {
    --background-color: #FFF9ED;
    --text-color: #3B2600;
    --box-selection-color: #CC8E18;
    --panel-fill: #FFECC9;
    --panel-stroke: #B67700;
    --socket-fill: #FFECC9;
    --socket-stroke: #816328;
    --wire-stroke: #CC8E18;
}
