:root {
    --background-color: #001100;
    --text-color: #55DD55;
    --box-selection-color: #55DD55;
    --panel-fill: transparent;
    --panel-stroke: #00AA00;
    --socket-fill: #002200;
    --socket-stroke: #006600;
    --wire-stroke: #00FF00;
}
