:root {
    --background-color: #001122;
    --text-color: #FFFFFF;
    --box-selection-color: #FFFFFF;
    --panel-fill: transparent;
    --panel-stroke: #44DDFF;
    --socket-fill: transparent;
    --socket-stroke: #FF7700;
    --wire-stroke: #FFDD44;
}
